  <link rel="stylesheet" href="/assets/style.css">

  <%- include('partials/Header.ejs') %>.


    <main>
      <h1 class="intro_heading">My TestBlog</h1>
      <img class="img" src="../assets/images/backgroundimg.jpg" width="600px" alt="laptop-img">
      <button class="new_postbtn"><a href="/routes/newpost">New Post</a></button>
    </main>

    <div class="blog_section">

      <% ShowBlogs.forEach(blog => {%>
        <div class="blog">
          <h2 class="title"><%= blog.title %></h2>
          <p class="date"><%= blog.date.toLocaleDateString() %></p>
          <p class="description"><%= blog.blog %></p>
          <div class="action_btns">
            <button class="read_morebtn"><a href="/routes/readmore/<%= blog.id %>">Read More</a></button>
            <form action="/routes/<%= blog._id %>?_method=DELETE" method="post">
              <button type="submit" class="delete_btn">Delete</button>
            </form>
          </div>
        </div>
      <%}); %>

    </div>
    <%- include('partials/Footer.ejs') %>.


  </body>
  </html>