  <link rel="stylesheet" href="style.css">

  <%- include('partials/Header.ejs') %>.


    <main>
      <h1 class="intro_heading">Hey I'm Daniel WebDeveloper / Programmer</h1>
      <img class="img" src="../assets/images/backgroundimg.jpg" width="600px" alt="laptop-img">
      <button class="new_postbtn"><a href="/routes/newpost">New Post</a></button>
    </main>

    <div class="blog_section">

      <% ShowBlogs.forEach(blog => {%>
        <div class="blog">
          <h2 class="title"><%= blog.title %></h2>
          <p class="date"><%= blog.date.toLocaleDateString() %></p>
          <p class="description"><%= blog.content %></p>
          <div class="action_btn">
            <button class="read_morebtn"><a href="#">ReadMore</a></button>
            <button class="delete_btn"><a href="/routes/delete/<%= blog.id %>">Delete</a></button>
          </div>
        </div>
      <%}); %>



     


    </div>

  </body>
  </html>