<link rel="stylesheet"  href="/assets/style.css">
<%- include('partials/Header.ejs') %>.


<div class="readmore">
    <a class="back_btn" href="/routes">←BACK</a>
    <div class="flex">
        <div class="img">
            <img class="img" src="/assets/images/backgroundimg.jpg" width="600px" alt="laptop-img">
        </div>
    
        <div class="read_blog">
            <h1 class="blog_title"><%= blog.title %></h1>
            <p class="blog_date"><%= blog.date.toLocaleDateString()%></p>
        
            <p class="blog_content">
                <%= blog.blog %>
            </p>
        
        <button class="edit_btn" ><a href="/routes/edit/<%= blog.id %>">Edit</a>
        </button>
        </div>
    
    </div>


</div>




